<div class="program-banner-wrapper">
	<img src="assets/images/pgi-banner.png" alt="PGI Banner">
</div>
<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-12">
            <p class="program-title">
				<img src="assets/images/pgi.png" alt="logo">
				Performance Grading Index <em><small>(PGI)</small></em>
			</p>
            <p class="program-desc " #target>The Performance Grading Index (PGI) is a tool to provide insights on the status of
                school education in States and Union territories including key levers that drive their performance and
                critical areas for improvement.</p>
        </div>
    </div>
</div>

<div class="custom-tab-group-wrapper" style="height: 1200px; max-height: 1500px; min-height: 300px;">
    <iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe" 	target="_parent" loading="lazy"> </iframe>
</div>