<div class="program-banner-wrapper">
	<img src="assets/images/prashast-banner.png" alt="Prashast Banner">
</div>
<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-12">
            <p class="program-title">
				<img src="assets/images/prashast.png" alt="logo">
				PRASHAST
			</p>
            <p class="program-desc">Prashast is a pre assessment holistic screening tool for preliminary screening of students in
                schools to facilitate further referral to assessment camps for disability certification.</p>
        </div>
    </div>
</div>
<!-- <div class="col-span-full tab-wrapper">
    <div class="row-wrapper grid grid-cols-5 gap-4">
         <div class="col-span-2 xmd:col-span-1  bignumber-container" id="bignumber2"
           *ngFor="let bigNumberData of bigNumberMetrics; let index = index">
           <div *ngIf="checkReport('prashast_metrics', 'bigNumber'+(index+1))">
               <app-big-number [bigNumberReportData]="bigNumberData"></app-big-number>
           </div>
       </div>
   </div>

   <div *ngIf="checkReport('prashast_metrics', 'bigNumber1')" id="bignumber1">
    <app-prashast-merics-number (exportReportData)="importBigNumberMetrics($event)"></app-prashast-merics-number>
    </div>

</div>
 -->

 <div class="custom-tab-group-wrapper" style="height: 500px; max-height: 2200px; min-height: 300px;">
	<iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe"
	target="_parent" loading="lazy"
	>
    </iframe>