<div class="program-banner-wrapper">
	<img src="assets/images/nishtha-banner.png" alt="Nishtha Banner">
</div>
<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-12">
            <p class="program-title">
				<img src="assets/images/nishtha.png" alt="logo"> NISHTHA
			</p>
            <p class="program-desc">NISHTHA is a capacity building programme for "Improving Quality of School Education
                through Integrated Teacher Training". It aims to build competencies among all the teachers and school
                principals at the elementary stage. NISHTHA is the world's largest teachers' training program.</p>
        </div>
    </div>
</div><br>

<div class="col-span-full tab-wrapper">
    <div class="reports-row" >
        <div *ngIf="checkReport('nishtha_metrics', 'bigNumber1')" id="bignumber1">
            <app-nishtha-bignumber-metrics (exportReportData)="importBigNumberMetrics($event)"></app-nishtha-bignumber-metrics>
        </div>
        <div class="row-wrapper grid grid-cols-5 gap-4">
            <h2 *ngIf="NVSK" class="col-span-5 ml-3 program-desc"><b>NISHTHA Coverage (No. of participants):</b></h2>
            <div class="col-span-2 xmd:col-span-1 bignumber-container" id="bignumber2"
                *ngFor="let bigNumberData of getMetricsArray(); let index = index">
                <div *ngIf="checkReport('nishtha_metrics', 'bigNumber'+(index+1))">
                    <app-big-number [bigNumberReportData]="bigNumberData"></app-big-number>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="custom-tab-group-wrapper">
    <mat-tab-group [selectedIndex]="tabIndex" mat-align-tabs="start" animationDuration="0ms"
        (selectedTabChange)="onTabChanged($event)" appFullScreen>

        <mat-tab label='Implementation Status' *ngIf="tabs.includes('Implementation Status')">
            <app-implementation-status-tab
                *ngIf="selectedTabLabel === 'Implementation Status'"></app-implementation-status-tab>
        </mat-tab>

        <ng-container *ngIf="!NVSK">
            <mat-tab label='Courses and Medium Status' *ngIf="tabs.includes('Courses and Medium Status')">
                <app-course-and-medium-status-tab
                    *ngIf="selectedTabLabel === 'Courses and Medium Status'"></app-course-and-medium-status-tab>
            </mat-tab>
        </ng-container>

        <ng-container *ngIf="NVSK">
            <mat-tab label='Medium of instruction' *ngIf="tabs.includes('Medium of instruction')">
                <app-medium-of-instruction-tab
                    *ngIf="selectedTabLabel === 'Medium of instruction'"></app-medium-of-instruction-tab>
            </mat-tab>
            <mat-tab label='Course Wise Status' *ngIf="tabs.includes('Course Wise Status')">
                <app-course-wise-status-tab *ngIf="selectedTabLabel === 'Course Wise Status'"></app-course-wise-status-tab>
            </mat-tab>
        </ng-container>

        <mat-tab label='% against Potential Base' *ngIf="tabs.includes('% against Potential Base')">
            <app-potential-base-tab *ngIf="selectedTabLabel === '% against Potential Base'"></app-potential-base-tab>
        </mat-tab>

        <mat-tab label='District Wise Status' *ngIf="tabs.includes('District Wise Status')">
            <app-district-wise-status-tab
                *ngIf="selectedTabLabel === 'District Wise Status'"></app-district-wise-status-tab>
        </mat-tab>

        <ng-container *ngIf="!NVSK">
            <mat-tab label='Course Wise Status' *ngIf="tabs.includes('Course Wise Status')">
                <app-course-wise-status-tab *ngIf="selectedTabLabel === 'Course Wise Status'"></app-course-wise-status-tab>
            </mat-tab>
        </ng-container>

    </mat-tab-group>
</div>