<div class="about-sec section-padding">
	<div class="container">
	   <div class="row">
		  <div class="col-md-12 col-lg-6 col-xl-7">
			 <div class="content">
				<div class="head-title">
				   <h1 class="text">About NVSK</h1>
				</div>
				<div>
				   <p>
					  Vidya Samiksha Kendra (VSK), an initiative under the aegis of Ministry of Education, Govt of India, is an institutional setup that aims to enable integrated and shared 'seeing' for amplifying data-driven decision making and actioning by key stakeholders for academic and administrative activities, thereby improving learning outcomes. 
					  The principal rationale behind this initiative was to design a comprehensive system through which the relevant stakeholders will be able to track the progress of various educational programs under one roof.
					  The VSK was conceived in such a way that would optimally utilize modern technologies to provide insights on different educational programs and to facilitate integrated functioning towards a common goal. 
					  The objectives of VSK include observing the real-time status of various projects/activities under the ambit of Samagra Shiksha, improving the academic performance of students, and enhancing the accountability of teachers in schools.
					  To attain these objectives, the VSK encompasses features such as administrative reforms, digital education, centralized dashboard, tracking and monitoring, and data-driven approach towards enrollment
				   </p>
				</div>
			 </div>
		  </div>
		  <div class="col-md-12 col-lg-6 col-xl-5">
			 <div class="content misstion-visstion">
				<img src="assets/images/about-image.png" alt="vision" class="img-fluid">
			 </div>
		  </div>
	   </div>
	</div>
 </div>

