<!-- <div class="program-banner-wrapper">
	<img src="assets/images/nishtha_spotlight 1.png" alt="Banner Images">
</div> -->
<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-12">
            <p class="program-title ">
				<img src="assets/images/NCF.png" alt="logo">
				National Curriculum Framework (NCF)
			</p>
            
    </div>
</div>
<div class="col-span-full tab-wrapper">
    <div *ngIf="checkReport('ncf_metrics', 'bigNumber1')" id="bignumber1">
        <app-ncf-bignumber (exportReportData)="importBigNumberMetrics($event)"></app-ncf-bignumber>
    </div>
    <div class="row-wrapper grid grid-cols-5 gap-4">
        <div class="col-span-2 xmd:col-span-1  bignumber-container" id="bignumber2"
            *ngFor="let bigNumberData of bigNumberMetrics; let index = index">
            <div *ngIf="checkReport('ncf_metrics', 'bigNumber'+(index+1))">
                <app-big-number [bigNumberReportData]="bigNumberData"></app-big-number>
            </div>
        </div>
    </div>
</div>
<div class="custom-tab-group-wrapper">
    <mat-tab-group [selectedIndex]="tabIndex" mat-align-tabs="start" animationDuration="0ms"
        (selectedTabChange)="onTabChanged($event)" appFullScreen>

        <mat-tab label='Progress Status' *ngIf="tabs.includes('Progress Status')">
            <app-progress-status-tab
                *ngIf="selectedTabLabel === 'Progress Status'"></app-progress-status-tab>
        </mat-tab>

        <mat-tab label='DiSanc Survey' *ngIf="tabs.includes('DiSanc Survey')">
            <app-disanc-survey-tab
                *ngIf="selectedTabLabel === 'DiSanc Survey'"></app-disanc-survey-tab>
        </mat-tab>
        
    </mat-tab-group>
</div>