<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-12">
            <p class="program-title ">National Achievement Survey <em><small>(NAS)</small></em></p>
            <p class="program-desc">The National Achievement Survey (NAS) is a nationally representative large-scale
                survey of students' learning undertaken by the Ministry of Education, Government of India.</p>
        </div>
    </div>
</div>

<div class="custom-tab-group-wrapper" style="height: 1200px; max-height: 1500px; min-height: 300px;">
    <iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe" 	target="_parent" loading="lazy"> </iframe>
</div>