.home-wrapper{
	background-color: #fff !important;
}

.banner-sec img{
  width: 100%;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.section-padding {
    padding: 40px 0;
}
.emp-desc p{
	margin-bottom: 1rem;
}
.blue-dot-list li::marker {
    color: #4C30F5;
    font-size: 17px;
}
.blue-text {
    color: #4C30F5;
}
.blue-dot-list::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
ul {
    padding-left: 2rem;
	margin-bottom: 1rem;
	list-style-type: disc;
}

.col-height-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.key-img {
    display: block;
}
.key-img {
    height: 900px;
}
.key-mob-img, .key-tab-img {
    display: none;
}
.col-cust-height {
    min-height: 923px;
}

.key-ben-box {
    background-color: #ffffff;
    box-shadow: 0px 0px 50px 0px rgba(210, 206, 233, 1);
    position: relative;
    padding: 10px 20px 5px 0;
    margin-bottom: 15px;
}
.key-ben-box::before {
    position: absolute;
    content: ' ';
    height: 100%;
    width: 12px;
    left: 0;
    top: 0;
}
.key-ben-box h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    border-bottom: 1px solid #EBEBEB;
    margin-left: 2rem;
    padding-bottom: 0.475rem;
	margin-bottom: 8px;
}
.key-ben-box ul li {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding-left: 20px;
    list-style: none;
    margin-bottom: 0.2rem;
}
.key-ben-box ul li::before {
    height: 12px;
    width: 12px;
    position: absolute;
    content: ' ';
    left: 0;
    border-radius: 50%;
    top: 7px;
}
.key-ben-box.peach::before {
    background-color: #F5845B;
}
li::before {
    background-color: #F5845B;
}
.key-ben-box.yellow::before {
    background-color: #FFB543;
}
.key-ben-box.yellow ul li::before {
    background-color: #FFB543;
}

.key-ben-box.peach h3 {
    color: #F5845B;
}
.key-ben-box.yellow h3 {
    color: #FFB543;
}

.key-ben-box.orange::before {
    background-color: #D96C24;
}
.key-ben-box.orange h3 {
    color: #D96C24;
}
.key-ben-box.orange ul li::before {
    background-color: #D96C24;
}
.key-ben-box.purple::before {
    background-color: #70367A;
}
.key-ben-box.purple h3 {
    color: #70367A;
}
.key-ben-box.purple ul li::before {
    background-color: #70367A;
}
.key-ben-box.pink::before {
    background-color: #E3007B;
}
.key-ben-box.pink h3 {
    color: #E3007B;
}
.key-ben-box.pink ul li::before {
    background-color: #E3007B;
}
.key-ben-box.lpurple::before {
    background-color: #A500C0;
}
.key-ben-box.lpurple h3 {
    color: #A500C0;
}
.key-ben-box.lpurple ul li::before {
    background-color: #A500C0;
}
.key-ben-box.lpurple h3 {
    color: #A500C0;
}
.map-img {
    margin: 0 auto;
}
.map-img img {
    max-width: 50%;
	margin: 0 auto;
}
@media (min-width: 1400px){
	.container {
		max-width: 1320px !important;
	}
}

@media (min-width: 768px) and (max-width: 991.98px){
	.key-img {
		display: none !important;
	}
}

@media (min-width: 576px) and (max-width: 991px){
	.key-img {
		display: none !important;
	}
	.key-tab-img {
		display: block !important;
	}
}

@media (max-width: 576px){
	.key-img {
		display: none !important;
	}
	.key-mob-img {
		display: block !important;
	}
}
