
<section class="app-footer-bar">
	<div class="top-section">
        <div class="container">
            <!-- <div class="logo-wrapper">
				<img src="assets/images/footer-logo.png" alt="logo">
			</div> -->
			<div class="footer-items">
				<div class="footer-item">
					<a href="https://www.education.gov.in/" target="_blank">
					  <img src="assets/images/Ministry_of_Education_India 1.png" alt="gov of india" class="gov-footer-logo"> 
					</a>
				</div>
				<div class="footer-item">
				  <a href="https://ciet.ncert.gov.in/" target="_blank">
					<img src="assets/images/ncert-logo 1.png" alt="ciet" class="ciet-footer-logo"> 
				  </a>
				</div>
				<div class="footer-item">
					<a href="https://digitalindia.gov.in/" target="_blank">
					  <img src="assets/images/digital-india 1.png" alt="digital-india" class="digital-india"> 
					</a>
				</div>
				<div class="footer-item">
				  <a href="https://www.mygov.in/" target="_blank"> 
					<img src="assets/images/my-gov.png" alt="my-gov" class="my-gov"> 
				  </a>
				</div>
				<div class="footer-item">
					<a href="https://diksha.gov.in/" target="_blank"> 
					  <img src="assets/images/diksha-logo 1.png" alt="diksha" class="diksha"> 
					</a>
				</div>
				<div class="footer-item">
					<a href="https://ejaaduipitara.ncert.gov.in/" target="_blank"> 
					  <img src="assets/images/jaduyi-pitra.png" alt="Jaadui Pitara" class="jaadui-pitara"> 
					</a>
				</div>
			</div>
		</div> 
	</div>
    <div class="black-bg">
		<div class="info-section">
            <div class="container">
			  <p class="info-p">National Council of Educational Research And Training (NCERT),
				Sri Aurobindo Marg, New Delhi-110016</p>
			</div> 
		</div>
        <div class="copyright-section">
            <div class="container">
				<p class="copyright">&#169; 2024 - Copyright NCERT. All rights reserved. Powered by NeGD | MeitY Government of India® 2024</p>
			</div> 
		</div>
    </div>
</section>
