
<section class="app-footer-bar">
	<div class="top-section">
        <div class="container">
            <div class="logo-wrapper">
				<img src="assets/images/footer-logo.png" alt="logo">
			</div>
		</div> 
	</div>
    <div class="black-bg">
		<div class="info-section">
            <div class="container">
			  <p class="info-p">National Council of Educational Research And Training (NCERT),
				Sri Aurobindo Marg, New Delhi-110016</p>
			</div> 
		</div>
        <div class="copyright-section">
            <div class="container">
			  <p class="copyright">&#169; 2024 - Copyright NCERT. All rights reserved. Powered by NeGD | MeitY Government of India®2024 NCERT</p>
			</div> 
		</div>
    </div>
</section>
