<div class="program-banner-wrapper">
	<img src="assets/images/nas-banner.png" alt="NAS Banner">
</div>
<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-12">
            <p class="program-title ">
			  <img src="assets/images/nas.png" alt="logo"> National Achievement Survey <em><small>(NAS)</small></em>
			</p>
            <p class="program-desc">The National Achievement Survey (NAS) is a nationally representative large-scale
                survey of students' learning undertaken by the Ministry of Education, Government of India.</p>
        </div>
    </div>
</div>
<div class="col-span-full tab-wrapper" *ngIf="NVSK">
    <div *ngIf="checkReport('nas_metrics', 'bigNumber1')" id="bignumber1">
        <app-nas-bignumber-metrics (exportReportData)="importBigNumberMetrics($event)"></app-nas-bignumber-metrics>
    </div>
    <div class="row-wrapper grid grid-cols-5 gap-4">
        <div class="col-span-2 xmd:col-span-1  bignumber-container" id="bignumber1"
            *ngFor="let bigNumberData of bigNumberMetrics; let index = index">
            <div *ngIf="checkReport('nas_metrics', 'bigNumber'+(index+1))">
                <app-big-number [bigNumberReportData]="bigNumberData"></app-big-number>
            </div>
        </div>
    </div>
</div>

<div class="custom-tab-group-wrapper">
    <mat-tab-group [selectedIndex]="tabIndex" mat-align-tabs="start" animationDuration="0ms"
        (selectedTabChange)="onTabChanged($event)" appFullScreen>
      
        <mat-tab label='Implementation Status' *ngIf="tabs.includes('Implementation Status')">
            <app-nas-implementation-status-tab [bigNumberMetrics]="bigNumberMetrics"
                *ngIf="selectedTabLabel === 'Implementation Status'"></app-nas-implementation-status-tab>
        </mat-tab>


        <mat-tab label='State Wise Performance' *ngIf="tabs.includes('State Wise Performance')">
            <app-nas-state-wise-performance-tab
                *ngIf="selectedTabLabel === 'State Wise Performance'"></app-nas-state-wise-performance-tab>
        </mat-tab>

        <mat-tab label='District Wise Performance' *ngIf="tabs.includes('District Wise Performance')">
            <app-district-wise-performance-tab [bigNumberMetrics]="bigNumberMetrics"
                *ngIf="selectedTabLabel === 'District Wise Performance'"></app-district-wise-performance-tab>
        </mat-tab>

        <mat-tab label='Grade & Subject Performance' *ngIf="tabs.includes('Grade & Subject Performance')">
            <app-grade-and-subject-performance-tab
                *ngIf="selectedTabLabel === 'Grade & Subject Performance'"></app-grade-and-subject-performance-tab>
        </mat-tab>       

    </mat-tab-group>
</div>