<div class="metric-card-wrapper">
    <div class="grid gap-4 grid-cols-6 xmd:grid-cols-12">
        <div class="col-span-12">
            <p class="program-title ">NIPUN Bharat</p>
            
    </div>
</div>
</div>
<div class="col-span-full tab-wrapper">
    <div class="reports-row" >
    <div *ngIf="checkReport('nipun_bharat_metrics', 'bigNumber1')" id="bignumber1">
        <app-nipun-bharat-metrics (exportReportData)="importBigNumberMetrics($event)"></app-nipun-bharat-metrics>
    </div>
    <div class="row-wrapper grid grid-cols-5 gap-4">
        <div class="col-span-2 xmd:col-span-1  bignumber-container" id="bignumber2"
            *ngFor="let bigNumberData of bigNumberMetrics; let index = index">
            <div *ngIf="checkReport('nipun_bharat_metrics', 'bigNumber'+(index+1))">
                <app-big-number [bigNumberReportData]="bigNumberData"></app-big-number>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="custom-tab-group-wrapper">
    <mat-tab-group [selectedIndex]="tabIndex" mat-align-tabs="start" animationDuration="0ms"
        (selectedTabChange)="onTabChanged($event)" appFullScreen>
               
        <mat-tab label='Module-wide Status' *ngIf="tabs.includes('Module-wide Status')">
            <app-module-wide-status-tab
                *ngIf="selectedTabLabel === 'Module-wide Status'"></app-module-wide-status-tab>
        </mat-tab>

        <mat-tab label='Detailed Status' *ngIf="tabs.includes('Detailed Status')">
            <app-detailed-status-tab
                *ngIf="selectedTabLabel === 'Detailed Status'"></app-detailed-status-tab>
        </mat-tab>
        
        <mat-tab label='Textbook Status' *ngIf="tabs.includes('Textbook Status')">
            <app-textbook-status-tab
                *ngIf="selectedTabLabel === 'Textbook Status'"></app-textbook-status-tab>
        </mat-tab>

        <mat-tab label='Learning Sessions' *ngIf="tabs.includes('Learning Sessions')">
            <app-learning-sessions-tab
                *ngIf="selectedTabLabel === 'Learning Sessions'"></app-learning-sessions-tab>
        </mat-tab>
        

    </mat-tab-group>
</div>