<div class="contact-sec section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-12">
				<div class="head-title">
					<h1 class="text" > Contact Us</h1>
				</div>
				<div class="content">
					<div class="cont-detail">
						<p class="d-flex align-items-center">
						<span class="cont-icon icon"><img src="assets/images/location_on.svg" width="24" height="24"></span>
						<span class="cont-icon">National Council of Education And Research Training(NCERT), Sri Aurobindo Marg, New Delhi-110016 </span>
					</p>
					<p class="d-flex align-items-center">
						<span class="cont-icon"><img src="assets/images/phone_in_talk.svg"></span>
						<span class="cont-icon">Telephone No.- 011-2696 2580</span>
					</p>
					<p class="d-flex align-items-center">
						<span class="cont-icon"><img src="assets/images/mail.svg"></span>
						<span class="cont-icon">Email - dceta.ncert@nic.in</span>
					</p>
					</div>
				</div>
			</div>
			<div class="col-md-7 col-sm-12">
				<div class="map px-lg-5">
					<iframe [src]="urlSafe" width="100%" height="325px" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>